@font-face {
	font-family: "IM Fell DW Pica";
	src: url("./fonts/IMFeDPrm29C.otf");
}

@font-face {
	font-family: "IM Fell DW Pica";
	src: url("./fonts/IMFeDPit29C.otf");
	font-style: italic;
}

@font-face {
	font-family: "IM Fell DW Pica SC";
	src: url("./fonts/IMFellDWPicaSC-Regular.ttf");
}

@font-face {
	font-family: "IM Fell Three Line Pica";
	src: url("./fonts/IMFeTLrm29C.otf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("./fonts/IMFeGPrm29C.otf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("./fonts/IMFeGPit29C.otf");
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	font-weight: bold;
	src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Poppins";
	font-style: italic;
	src: url("./fonts/Poppins-Italic.ttf");
}

@font-face {
	font-family: "Poppins";
	font-style: italic;
	font-weight: bold;
	src: url("./fonts/Poppins-BoldItalic.ttf");
}

@font-face {
	font-family: "Skullz";
	src: url("fonts/skullz.ttf");
}

@font-face {
	font-family: "Swordlings";
	src: url("./fonts/Swordlings.ttf");
}

$ra-font-path: "./fonts";
@import "node_modules/rpg-awesome/scss/rpg-awesome"; //External Import

/* -------------- */
/*  Font Awesome  */
/*   Overrides    */
/* -------------- */

.fa-suitcase {
	font-family: RPGAwesome;
	font-size: 1.6rem;
	transform: translateY(1px);
	&:before {
		content: "\ea72";
	}
}

.fa-comments {
	font-family: RPGAwesome;
	font-size: 1.5rem;
	transform: translateY(1px);
	&:before {
		content: "\ea8f";
	}
}

.fa-fist-raised {
	font-family: Swordlings;
	transform: translate(1.3px, -0.6px);
	font-size: 1.5rem;
	&:before {
		content: "x";
	}
}
